<dialog id="share-dialog" class="share-modal">
    <div class="modal-header">
        <h3>Shareable public link</h3>
        <button id="close-modal">&times;</button>
    </div>
    
    <div class="link-box">
        <input type="text" id="share-link" value="https://yourwebsite.com/article/example" readonly>
        <button id="copy-btn">Copy link</button>
    </div>

    <p class="disclaimer">Public links can be reshared. Share responsibly, delete anytime.</p>

    <div class="social-share">
        <div class="social-item"><span>in</span> LinkedIn</div>
        <div class="social-item"><span>f</span> Facebook</div>
        <div class="social-item"><span>X</span> X</div>
        <div class="social-item"><span>R</span> Reddit</div>
    </div>
</dialog>
